@charset "UTF-8";

h1 {
    color: white;
    padding: 10px;
}

img {
    display: block;
    width: 96vw;
    margin: auto;
}

main p {
    margin-top: 10px;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.205), rgba(255, 255, 255, 0.055));
    color: white;
}

section div img {
    width: 40vw;
    min-height: 150px;
}

section > div {
    display: inline-block;
    margin: 5px;
}