@charset "UTF-8";

h1 {
    color: white;
    padding: 10px;
}

img {
    display: block;
    width: 96vw;
    margin: auto;
}

main p {
    background-color: white;
}

section div img {
    max-width: 200px;
    max-height: 200px;
    min-height: 199px;
}

section > div {
    display: inline-block;
    margin: 5px;
}