@charset "UTF-8";

/* mobile first easter eggs songs */

body {
    background-color: black;
}

h2 {
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.733), rgba(255, 255, 255, 0.034));
    padding: 5px;
    margin: 5px 0;
}

section ul {
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.452), rgba(255, 255, 255, 0));
}

section {
    text-align: center;
    margin: 25px 0;
    box-shadow: inset 0 0 10px black;
}
#waw {
    background: black url(../imagens/back-waw.webp) fixed;
}

#bo1 {
    background: black url(../imagens/back-b01.webp) fixed;
}

#bo2 {
    background: black url(../imagens/back-bo22.jpg) fixed right center;
}